<h2><u>Your bookmarks</u></h2>

<% if @bookmarked_astronomical_items.present? %>
<div class="table">
        <table class="table table-dark table-striped">
            <thead>
                <th class="table_head">Object Name</th>
                <th class="table_head">Category</th>
                <th class="table_head">Author</th>
            </thead>

            <tbody>
                <% @bookmarked_astronomical_items.each do |astronomical_item| %>
                    <tr>
                        <td> <%= link_to astronomical_item.name, astronomical_item %></td>
                        <td> <%= astronomical_item.category %> </td>
                        <td> <%= astronomical_item.user.name %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

<% else %>
    <p class="empty_list">You have not bookmarked any objects</p>
<% end %>


