
<article class="comment">
<p>
<small><%= comment.user.name %> - <%= comment.created_at.strftime("%e %b %Y") %>:</small>
</p>
<p>
<%= comment.content %>
</p>
<% if @current_user.id == comment.user.id %>
    <p><small><%= link_to "Delete", astronomical_item_comment_path(comment.id), :method => :delete, :data => { :confirm => "Are you sure?" } %></small></p>
<% end %>
<hr>
</article>