<h1><u>The Astronomy Catalogue</u></h1>

<div class="intro">
    <p>Welcome to the Astronomy Catalogue. Here amateur astronomers can add to a growing database of astronomical objects that they have observed or simply have an interest in.</p>

    <p>Users can search the catalogue for objects already in the database, bookmark objects, and view all objects they have added.</p>

    <p>Thank you for using the catalogue!</p>
</div>

<h2><u>NASA's Picture of the Day</u></h2>
<br>
<%= image_tag @response["url"], :class => 'feature' %>
<br>
<p class="explanation">By <%= @response["copyright"] %> - <%= @response["date"] %> <br><br>Courtesy of NASA's Astronomy Picture of the Day API </p>
<br>
<p class="explanation" ><u>Explanation:</u> <%= @response["explanation"] %></p>



