<h1><u>The Astronomy Catalogue</u></h1>

<div class="intro">
    <p>Welcome to the Astronomy Catalogue. Here amateur aastronomers can add to a growing database of astronomical objects that they have observed or simply have an interest in.</p>

    <p>Users can view all objects in the catalogue, view all objects you have added, and bookmark objects to your bookmark tab.</p>

    <p>Thank you for using the catalogue!</p>
</div>

<h2><u>NASA's Picture of the Day</u></h2>
<br>
<%= image_tag @response["url"], :class => 'feature' %>
<br>
<p class="explanation" ><u>Explanation:</u> <%= @response["explanation"] %></p>