<h1>The Astronomy Catalogue</h1>

<div class="intro">
    <p>Welcome to the Astronomy Catalogue. Here amateur aastronomers can add to a growing database of astronomical objects that they have observed or simply have an interest in.</p>

    <p>You can view all objects in the catalogue, view all objects you have added, and bookmark objects to your bookmark tab.</p>

    <p>Thank you for using the catalogue!</p>
</div>

<h2>NASA's Picture of the Day</h2>
<br>
<%= image_tag @response["url"], :class => 'feature' %>
<br>
<p class="explanation" ><%= @response["explanation"] %></p>