@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Trispace', sans-serif;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    --bs-gutter-x: 0;
}

// Nav CSS

nav {
    background-image: url(navbackground1.jpg);
    background-size: cover;
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav {
    font-size: 20px;

}

.nav-link {
    color: #ffffff;
}

.dropdown-menu {
    --bs-dropdown-bg: #313740;
    --bs-dropdown-link-color: #ffffff;
    --bs-dropdown-link-hover-color: #3683ea;
    --bs-dropdown-link-hover-bg: none;
}

.summary {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.feature {
    max-height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    display: block;
}

.index_container {
    padding: 20px;
    font-size: 18px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.index_item {
    display: inline-block;
    margin-bottom: 1em;
    width: auto;
}

a {
    color: white;
    text-decoration: none;
}

label {
    display: block;
}

.comment_field {
    max-width: 252px;
    max-height: 56px;
}

.author_comment_bookmark {
    padding-left: 30px;
}

.add_edit_form {
    max-width: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.form-control {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: white;
}

.mb-3 {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.mb-3  b {
    margin-left: auto;
    margin-right: auto;
}

.flash_login_error {
    color: red;
    text-align: center;
}

.empty_list {
    text-align: center;
}

// Search bar & index tables CSS

.table {
    padding-left: 30px;
    padding-right: 30px;
}

.search_bar {
    padding-bottom: 15px;
}

.table a {
    text-decoration: underline;
}

.table_head {
    font-size: 18px;
    color: #cccccc;
}

// Pages CSS (from will_paginate css docs)

.digg_pagination {
    background: black;
    padding-left: 30px;
    padding-right: 30px;
    cursor: default;
    /* self-clearing method: */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
      color: #847878;
      border: 1px solid #847878; }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #0075ff;
      color: white;
      border: 1px solid #0075ff; }
    .digg_pagination a {
      text-decoration: none;
      color: #0075ff;;
      border: 1px solid #0075ff; }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #ffffff;
        border-color: #ffffff; }
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #0075ff;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; }