body {
    background-color: black;
    color: white;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
}

a {
    color: white;
}

.feature {
    max-width: 900px;
    display: contain;
}

.index_container {
    display: grid;
}

.index_item {
    display: inline-block;
    margin-bottom: 1em;
    width: auto;
}

label {
    display: block;
}

.logged_in_as {
    
}

textarea {
    max-width: 252px;
    max-height: 56px;
}

.bookmark_on::after {
    content: " - New Text";
}

.mb-3 {
    max-width: 500px;
}