@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400&display=swap');

body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Trispace', sans-serif;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    --bs-gutter-x: 0;
}

nav {
    background-image: url(background.jpg);
    background-size: cover;
    padding-top: 7px;
    padding-bottom: 7px;
}

.summary {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.feature {
    max-height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    display: block;
}

.index_container {
    display: grid;
}

.index_item {
    display: inline-block;
    margin-bottom: 1em;
    width: auto;
}

label {
    display: block;
}

.logged_in_as {
    
}

.comment_field {
    max-width: 252px;
    max-height: 56px;
}

.bookmark_on::after {
    content: " - New Text";
}

.mb-3 {
    max-width: 500px;
}

