<h2>Your Astronomical Objects</h2>
<ul>
    <% @astronomical_items.each do |astronomical_item| %>
        <li><%= link_to astronomical_item.name, astronomical_item_path(astronomical_item.id) %></li>
    <% end %>
</ul>