<h1><u>Astronomical Catalogue</u></h1>

<div class="table">
    <table class="table table-dark table-striped">
        <thead>
            <th class="table_head">Object Name</th>
            <th class="table_head">Category</th>
            <th class="table_head">Author</th>
        </thead>

        <tbody>
            <% @astronomical_items.each do |astronomical_item| %>
                <tr>
                    <td> <%= link_to astronomical_item.name, astronomical_item %></td>
                    <td> <%= astronomical_item.category %> </td>
                    <td> <%= astronomical_item.user.name %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= will_paginate @astronomical_items, :class => "digg_pagination" %>